table{
	background-color: green;
	margin: auto;
}
#Calculator{
	width: 380px;
	height:64px;
}
.btn{
	width: 68px;
	height: 64px;
}
#equ{
	width:144px;
	height:64px;
}
#zero{
	width:144px;
	height:64px;
}
#del{
	width: 68px;
	height: 132px;
}
#ac{
	width: 68px;
	height: 132px;
}
