body {
			background-image: url("bg4.jpg");
			color: white;
		}

		p.small {
			line-height: 0;
		}

		img.sticky {
			position: -webkit-sticky;
			position: sticky;
			top: 0;
		}

		* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
		}

		/* Style the header */
		.header {
			background-color: #f1f1f1;
			padding: 20px;
			text-align: center;
		}

		/* Style the top navigation bar */
		.topnav {
			overflow: hidden;
			background-color: #333;
		}

		/* Style the topnav links */
		.topnav a {
			float: left;
			display: block;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		/* Change color on hover */
		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		/* Create three unequal columns that floats next to each other */
		.column {
			float: left;
			padding: 10px;
		}

		/* Left and right column */
		.column.side {
			width: 25%;
		}

		/* Middle column */
		.column.middle {
			width: 50%;
		}

		/* Clear floats after the columns */
		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
		@media screen and (max-width: 600px) {
			.column.side, .column.middle {
				width: 100%;
			}
		}

		hr.line {
			border-style: solid;
			border-width: thin;
			border-color: red;
		}

		.box {
			width: 60px;
			height: 25px;
			border: 1px solid gray;
			background-color: gray;
		}
		*{
			margin: 0;
			padding: 0;
		}
		.rate {
			float: left;
			height: 46px;
			padding: 0 10px;
		}
		.rate:not(:checked) > input {
			position:absolute;
			top:-9999px;
		}
		.rate:not(:checked) > label {
			float:right;
			width:1em;
			overflow:hidden;
			white-space:nowrap;
			cursor:pointer;
			font-size:30px;
			color:#ccc;
		}
		.rate:not(:checked) > label:before {
			content: '★ ';
		}
		.rate > input:checked ~ label {
			color: #ffc700;    
		}
		.rate:not(:checked) > label:hover,
		.rate:not(:checked) > label:hover ~ label {
			color: #deb217;  
		}
		.rate > input:checked + label:hover,
		.rate > input:checked + label:hover ~ label,
		.rate > input:checked ~ label:hover,
		.rate > input:checked ~ label:hover ~ label,
		.rate > label:hover ~ input:checked ~ label {
			color: #c59b08;
		}

		.bgText {
			background-color: #A9A4A4;
		}

		a {
			text-decoration: none;
		}